@import "./utils/variables";
@import "./components/container";
@import "./components/section";
@import "./components/logo";
@import "./components/header";
@import "./components/site-nav";
@import "./components/contacts";
@import "./components/burger";
@import "./components/buttons";
@import "./components/hero";
@import "./components/benefits";
@import "./components/features";
@import "./components/team";
@import "./components/members";
@import "./components/social-links";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-social";
@import "./components/footer-contacts";
@import "./components/footer-form";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/policy";
@import "./components/portfolio";
@import "./components/works";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  font-family: $primary-font, sans-serif;
}
