.burger__menu {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    padding: 48px 40px;

    width: 100%;

    background-color: $primary-bg-color;
    padding: 48px 40px;

    overflow-y: scroll;

    &.is-open {
      display: block;
      padding-top: 0;
      z-index: 1;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.logo.is-open {
  opacity: 0;
}

// Button

.burger__button {
  display: inline-flex;
  margin: 0;
  padding: 4px 0;
  border: none;
  background-color: transparent;

  & .burger-close {
    display: none;
  }
  &.is-open .burger-close {
    display: block;
  }
  &.is-open .burger-open {
    display: none;
  }

  &:hover .burger-open,
  &:focus .burger-open,
  &:focus .burger-close,
  &:hover .burger-close {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// Social

.burger-social {
  display: flex;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.burger-social__item {
  position: relative;
  margin-right: 10px;
  padding-left: 10px;

  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
  &:not(:first-child)::before {
    display: inline-block;
    position: absolute;
    left: -10px;
    bottom: 10px;

    content: "";

    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transform: rotate(90deg);
  }
}
.burger-social__link {
  color: $accent-color;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  @media screen and (max-width: 435px) {
    font-size: 15px;
  }
}
