.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;
}
.page-footer__container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}
.page-footer__thumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
