.footer-form__container {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    padding-top: 12px;
  }
}
.footer-form {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-form__title {
  margin-bottom: 20px;

  color: $primary-bg-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-form__input {
  padding: 15px 16px;

  width: 450px;

  color: $primary-bg-color;
  background-color: $footer-bg-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}
.footer-form__icon {
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: currentColor;
}

.footer-button__container {
  display: inline-block;
  margin-top: 20px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 12px;
    margin-top: 0;
  }
}
